accelerate==1.3.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alembic==1.14.1
altair==5.5.0
annotated-types==0.7.0
anthropic==0.45.2
antlr4-python3-runtime==4.9.3
anyio==4.6.2
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asteroid-filterbanks==0.4.0
asttokens==2.0.5
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.3.0
audioread==3.0.1
av==14.0.1
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.9.0
Brotli==1.0.9
cachetools==5.5.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.8
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.1
contourpy==1.3.1
ctranslate2==4.4.0
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
dependency-injector==4.45.0
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
einops==0.8.0
exceptiongroup==1.2.0
executing==0.8.3
faster-whisper==1.1.0
fastjsonschema==2.20.0
filelock==3.17.0
flatbuffers==25.1.24
fonttools==4.55.6
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
h11==0.14.0
httpcore==1.0.2
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.27.1
humanfriendly==10.0
HyperPyYAML==1.2.2
idna==3.7
ipykernel==6.29.5
ipython==8.30.0
ipywidgets==8.1.5
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
julius==0.2.7
jupyter==1.1.1
jupyter_client==8.6.3
jupyter-console==6.6.3
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.0
jupyter_server==2.14.1
jupyter_server_terminals==0.4.4
jupyterlab==4.3.4
jupyterlab-pygments==0.1.2
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
langchain==0.3.16
langchain-anthropic==0.3.4
langchain-community==0.3.16
langchain-core==0.3.32
langchain-openai==0.3.2
langchain-text-splitters==0.3.5
langsmith==0.3.2
lazy_loader==0.4
librosa==0.10.2.post1
lightning==2.5.0.post0
lightning-utilities==0.11.9
llvmlite==0.44.0
Mako==1.3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.26.0
matplotlib==3.10.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.23.0
nbclient==0.8.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
notebook==7.0.6
notebook_shim==0.2.3
numba==0.61.0
numpy==1.26.4
omegaconf==2.3.0
onnxruntime==1.20.1
openai==1.60.1
optuna==4.2.0
orjson==3.10.15
overrides==7.4.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.4
pexpect==4.8.0
pillow==11.1.0
pip==24.3.1
platformdirs==3.10.0
ply==3.11
pooch==1.8.2
primePy==1.3
prometheus_client==0.21.0
prompt-toolkit==3.0.43
propcache==0.2.1
protobuf==5.29.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==19.0.0
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pydantic-settings==2.7.1
pydeck==0.9.1
pydub==0.25.1
Pygments==2.15.1
pymongo==4.10.1
pyparsing==3.2.1
PyQt5==5.15.10
PyQt5_sip==12.13.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.2.1
pytorch-lightning==2.5.0.post0
pytorch-metric-learning==2.8.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole==5.6.1
QtPy==2.4.1
referencing==0.30.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.1
semver==3.0.4
Send2Trash==1.8.2
sentencepiece==0.2.0
setuptools==75.1.0
shellingham==1.5.4
sip==6.7.12
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.5
soxr==0.5.0.post1
speechbrain==1.0.2
SQLAlchemy==2.0.37
stack-data==0.2.0
streamlit==1.41.1
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tensorboardX==2.6.2.2
terminado==0.17.1
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.2.1
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
torch==2.5.1
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchaudio==2.5.1
torchmetrics==1.6.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.1
typer==0.15.1
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2025.1
urllib3==2.3.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.44.0
whisperx==3.3.1
widgetsnbextension==4.0.13
yarl==1.18.3
youtube-transcript-api==0.6.3
yt-dlp==2025.1.15
zstandard==0.23.0
